<div id="container">
    <div class="chirpImg">
        <a href="#/chirps"><i class="fa fa-long-arrow-left fa-2x" aria-hidden="true"></i></a>
        <i class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i>
        <i class="fa fa-search fa-2x" aria-hidden="true"></i>
        <img src="img/profile.jpg">
    </div>
    <div id='chirperBox'>
        <button id='A' class="psuedo-btn">
            <span class="fa-stack fa-xlg">
                <i class="fa fa-users fa-stack-2x"></i>
                <i class="fa fa-check fa-stack-1x"></i>
            </span> 
        </button>
        <button id='B' class="psuedo-btn"><i class="fa fa-bell-o fa-2x" aria-hidden="true"></i></button>
        <br>
        <div style="clear:both"></div>
        <h5>Sign up for Chirper Alerts!</h5>
        <!--<h2>Ross Mckewen</h2>-->
        <select ng-options="user as user.name for user in users track by user.id" ng-model="selected"></select>
        <h4>@Rosslanding</h4>
        <div class="chirpContain">
            <textarea id='chirp' ng-model="chirpMessage" placeholder="Type your new chirp here." maxlength="120"></textarea>
            <div id="word-cnt"><span>0</span>/120</div>
        </div>
        <button type="button" id="chirp-btn" ng-click="captureChirp()" ng-disabled='empty'>Chirp!<img src="img/cute-little-bird-icon-85416.png"></button>
        <div class="clear: both;"></div>
        <div id="followers">
            <h3>Following: <span>4,564</span></h3>
            <h3>Follwers: <span>5,342,902</span></h3>
        </div>
    </div>
    <div id="chirpList">
        <div id="{{chirp.id}}" class="chirpbox">
            <img src="img/profile.jpg" class="chirpedImg"/>
            <!--<h3>{{chirp}}</h3>-->
            <h4>{{chirp.name}}</h4>
            <h4 class="time">{{getDate(chirp.timestamp)}}</h4>
            <p>{{chirp.message}}</p>
            <div style="clear:both"></div>
            <div class="editBar">
                <a ng-href="#/chirps/{{chirp.id}}/update">
                    <div class="editBtn">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </div>
                </a>
                <div class="editBtn">
                    <i class="fa fa-trash" aria-hidden="true" ng-click="deleteChirp(chirp.id)"></i>
                </div>
            </div>
            <div class="btnBar">
                <div class="comment">
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                    <!--Count of Comments-->
                </div>
                <div class="like">
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                    <!--count of likes-->
                </div>
                <div class="share">
                    <i class="fa fa-share-square-o" aria-hidden="true"></i>
                    <!--count of shares-->
                </div>
            </div>
        </div>
    </div>
</div>