<div class="container">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="jumbotron">
            <h1>Welcome to Chirper</h1>
            <p>Chirper is social media site to share all the things no one wants to know about you. Here you can rant and rave
                about offensive items related to Sex, Religion, Age, and may other human characteristics. Or you could just
                Bitch about anything the you disagree with. Chirper! Tearing the world apart 140 characters at a time.</p>
            <p><a class="btn btn-primary btn-lg" href="#chirps" role="button">View Chirps</a></p>
        </div>
    </div>
</div>